<html>
<head>
	<title>Movie Shopping Cart</title>
	<script type="text/javascript" src="script.js"></script>
</head>
<body>
<h1>myMovies Xpress!</h1>	
<form id="login" action="./logon.php" method="post">
	Username: <input type="text" name="username" required><br />
	<br>	
	Password: <input type="password" name="password" required><br />
	<br>
	<input type="reset" value="Clear">
	<input type="submit" value="Login">
	<input type="hidden" name="action" value="login">	

	<a href="./logon.php?form=create">Create Account</a>
	<a href="./logon.php?form=forgot">Forgot Password</a>
</form>

<br>
<a href="../index.html">ePortfolio</a>
</body>
</html>
